@use "sass:map";
@use "sass:math";
@use "config" as *;
@use "mixins" as *;

$properties: ("m": margin, "p": padding);
$directions: ("t": top, "b": bottom, "l": left, "r": right);
$axes: "y", "x";

$breakpoint-values: map.values($breakpoints);
$min-breakpoint: math.min($breakpoint-values...);

@each $prefix, $property in $properties {
    @each $suffix, $space in $spacing {
        @include validate-unit($space, number, px);

        .#{$prefix}-#{$suffix} {
            #{$property}: #{$space} !important;
        }

        @each $infix, $direction in $directions {
            .#{$prefix}#{$infix}-#{$suffix} {
                #{$property}-#{$direction}: #{$space} !important;
            }
        }

        @each $axis in $axes {
            .#{$prefix}#{$axis}-#{$suffix} {
                @if $axis == "y" {
                    #{$property}-top: #{$space} !important;
                    #{$property}-bottom: #{$space} !important;
                } @else if $axis == "x" {
                    #{$property}-left: #{$space} !important;
                    #{$property}-right: #{$space} !important;
                }
            }
        }
    }
}

@each $breakpoint, $breakpoint-value in $breakpoints {
    @media (min-width: $breakpoint-value) {
        @each $prefix, $property in $properties {
            @each $suffix, $space in $spacing {
                .#{$prefix}-#{$breakpoint}-#{$suffix} {
                    #{$property}: #{$space} !important;
                }

                @each $axis in $axes {
                    .#{$prefix}#{$axis}-#{$breakpoint}-#{$suffix} {
                        @if $axis == "y" {
                            #{$property}-top: #{$space} !important;
                            #{$property}-bottom: #{$space} !important;
                        } @else if $axis == "x" {
                            #{$property}-left: #{$space} !important;
                            #{$property}-right: #{$space} !important;
                        }
                    }
                }

                @each $infix, $direction in $directions {
                    .#{$prefix}#{$infix}-#{$breakpoint}-#{$suffix} {
                        #{$property}-#{$direction}: #{$space} !important;
                    }
                }
            }
        }
    }
}
