@use "sass:map";
@use "sass:math";
@use "config" as *;
@use "mixins" as *;

$selectors: ("m": margin, "p": padding);
$directions: ("t": top, "b": bottom, "l": left, "r": right);
$axes: "y", "x";

$breakpoint-values: map.values($breakpoints);
$min-breakpoint: math.min($breakpoint-values...);

@each $breakpoint, $breakpoint-value in $breakpoints {
    @if $breakpoint-value == $min-breakpoint {
        @each $prefix, $property in $selectors {
            @each $suffix, $space in $spacing {
                @include validate-type($space, number);

                .#{$prefix}-#{$suffix} {
                    #{$property}: #{$space} !important;
                }

                @each $axis in $axes {
                    .#{$prefix}#{$axis}-#{$suffix} {
                        @if $axis == "y" {
                            #{$property}-top: #{$space} !important;
                            #{$property}-bottom: #{$space} !important;
                        } @else if $axis == "x" {
                            #{$property}-left: #{$space} !important;
                            #{$property}-right: #{$space} !important;
                        }
                    }
                }

                @each $abbr-dir, $direction in $directions {
                    .#{$prefix}#{$abbr-dir}-#{$suffix} {
                        #{$property}-#{$direction}: #{$space} !important;
                    }
                }
            }
        }
    } @else {
        @media (min-width: $breakpoint-value) {
            @each $prefix, $property in $selectors {
                @each $suffix, $space in $spacing {
                    @include validate-type($space, number);

                    .#{$prefix}-#{$breakpoint}-#{$suffix} {
                        #{$property}: #{$space} !important;
                    }

                    @each $axis in $axes {
                        .#{$prefix}#{$axis}-#{$breakpoint}-#{$suffix} {
                            @if $axis == "y" {
                                #{$property}-top: #{$space} !important;
                                #{$property}-bottom: #{$space} !important;
                            } @else if $axis == "x" {
                                #{$property}-left: #{$space} !important;
                                #{$property}-right: #{$space} !important;
                            }
                        }
                    }

                    @each $abbr-dir, $direction in $directions {
                        .#{$prefix}#{$abbr-dir}-#{$breakpoint}-#{$suffix} {
                            #{$property}-#{$direction}: #{$space} !important;
                        }
                    }
                }
            }
        }
    }
}
